<h1>New game</h1>

<div class="container">
<% @letters.each do |letter| %>
  <div class="cube"><%= letter.capitalize %></div>
<% end %>
</div>

<form action="/score" method="post">
  <label for="play"</label>

</form>
